@import "base.css";
@import "header.css";
@import "footer.css";
@import "form.css";

//about us blocks

.aboutus {
    margin-top: 200px;
}
.aboutus__title {
    color: #000;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}
.aboutus__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}
.aboutus__img {
    width: 45%;
    height: 500px;
    object-fit: cover;
}
.aboutus__text {
    width: 45%;
    font-size: 20px;
    font-weight: 400;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

//counter
.counter{
    margin-top: 100px;
}
.counter__row {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.counter__title {
    font-size: 45px;
    font-weight: 700;

}
.counter__number {
    margin-top: 20px;
    font-size: 30px;
    font-weight: 600;
}


//footer

.footer{
    margin-top: -6px;
}

@media (max-width: 991px) {
    .counter__title {
        font-size: 42px;
    }
}

@media (max-width: 767px) {
    .aboutus__img {
        width: 100%;
        margin-top: 100px;
    }
    .aboutus__text {
        width: 100%;
        font-size: 20px;
    }
    .aboutus__block {
    }
    .aboutus__block1 {
        justify-content: space-between;
        align-items: center;
        flex-direction: column-reverse;
    }
    .aboutus__block2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    //counter

    .counter__row {
        flex-direction: column;
        gap: 30px;
    }
    .counter__title {
        font-size: 42px;
    
    }
}

@media (max-width: 576px) {
    .aboutus__text {
        font-size: 18px;
    }
    .aboutus__img{
        height: 300px;
    }
}