@import "base.css";
@import "header.css";
@import "footer.css";
@import "form.css";

//about us blocks

.aboutus {
    margin-top: 200px;
}
.aboutus__title {
    color: #000;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}
.aboutus__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}
.aboutus__img-wrapper{
    width: 45%;
    height: 500px;
    background-color: rgba(218, 144, 54, 1);
    
}
.aboutus__img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    transform: translate3d(-10px, 10px, 10px);
    -webkit-transform: translate3d(-10px, 10px, 10px);
    -moz-transform: translate3d(-10px, 10px, 10px);
    -ms-transform: translate3d(-10px, 10px, 10px);
    -o-transform: translate3d(-10px, 10px, 10px);
    box-shadow: 0px 0px 10px rgba(119, 119, 119, 0.15);
}
.aboutus__img1{
    transform: translate3d(10px, 10px, 10px);
    -webkit-transform: translate3d(10px, 10px, 10px);
    -moz-transform: translate3d(10px, 10px, 10px);
    -ms-transform: translate3d(10px, 10px, 10px);
    -o-transform: translate3d(10px, 10px, 10px);
}
.aboutus__content {
    width: 45%;
    font-size: 20px;
    font-weight: 400;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    & span{
        font-weight: 700;
        
    }
    & .aboutus__content-title{
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 20px;
    }
}

//counter
.counter{
    margin-top: 100px;
}
.counter__row {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.counter__title {
    font-size: 45px;
    font-weight: 700;

}
.counter__number {
    margin-top: 20px;
    font-size: 30px;
    font-weight: 600;
}


//footer

.footer{
    margin-top: -6px;
}

@media (max-width: 991px) {
    .counter__title {
        font-size: 42px;
    }
}

@media (max-width: 767px) {
    .aboutus__img-wrapper{
        margin-top: 50px;
        width: 100%;
    }
    .aboutus__img {
        width: 100%;
        transform: translate3d(-6px, 6px, 6px);
        -webkit-transform: translate3d(-6px, 6px, 6px);
        -moz-transform: translate3d(-6px, 6px, 6px);
        -ms-transform: translate3d(-6px, 6px, 6px);
        -o-transform: translate3d(-6px, 6px, 6px);
}
    .aboutus__img1{
        transform: translate3d(6px, 6px, 6px);
        -webkit-transform: translate3d(6px, 6px, 6px);
        -moz-transform: translate3d(6px, 6px, 6px);
        -ms-transform: translate3d(6px, 6px, 6px);
        -o-transform: translate3d(6px, 6px, 6px);
}
    .aboutus__content {
        align-self: flex-start;
        width: 95%;
        font-size: 20px;
    }
    .aboutus__block {
    }
    .aboutus__block1 {
        justify-content: space-between;
        align-items: center;
        flex-direction: column-reverse;
    }
    .aboutus__block2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    //counter

    .counter__row {
        flex-direction: column;
        gap: 30px;
    }
    .counter__title {
        font-size: 42px;
    
    }
}

@media (max-width: 576px) {
    .aboutus__text {
        font-size: 18px;
    }
    .aboutus__img-wrapper{
        height: 400px;
    }
    .aboutus__img{
        height: 400px;
    }
}