@import "base.css";
@import "header.css";
@import "footer.css";
@import "form.css";
.contacts {
  margin-top: 100px;
  background-color: #222;
  padding: 100px 0;
}

.contacts__title {
  color: #fff;
  font-size: 45px;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.contacts__subtitle {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  margin-top: 20px;
  max-width: 800px;
  display: inline-block;
}

.contacts__content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.contacts__main {
  color: #fff;
  max-width: 45%;
  margin-left: 35px;
}

.contacts__content-title {
  font-size: 24px;
  font-weight: 600;
  margin-top: 40px;
}

.contacts__tel {
  text-decoration: none;
  display: block;
  font-size: 20px;
  font-weight: 600;
  color: #DA9036;
}

.contacts__email {
  text-decoration: none;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 600;
  color: #DA9036;
  display: block;
}

.contacts__address {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 600;
  color: #DA9036;
}

.contacts__button {
  outline: none;
  background-color: transparent;
  color: #FFF;
  margin-top: 50px;
  padding: 20px 40px;
  border: 2px #FFF solid;
  font-size: 16px;
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
}
.contacts__button:hover {
  background-color: #fff;
  color: #000;
}

.tel-title {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  margin-left: -35px;
  margin-bottom: 10px;
}
.tel-title::before {
  content: "";
  width: 25px;
  height: 25px;
  display: inline-block;
  background: url(../img/icons/telephone.svg) 0 0/contain no-repeat;
}

.email-title {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  margin-left: -35px;
}
.email-title::before {
  content: "";
  width: 25px;
  height: 25px;
  display: inline-block;
  background: url(../img/icons/email.svg) 0 0/contain no-repeat;
}

.address-title {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  margin-left: -35px;
}
.address-title::before {
  content: "";
  width: 25px;
  height: 25px;
  display: inline-block;
  background: url(../img/icons/address.svg) 0 0/contain no-repeat;
}

.message__form {
  margin-top: 0;
}

.form__body {
  margin-top: 0;
}

.message {
  margin: 0;
  margin-top: 100px;
}

.message__title {
  color: #000;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.message__form {
  background: #222222;
  box-shadow: none;
  padding: 0;
}

.form__item {
  width: 100%;
}

.form__input {
  background-color: #222;
  height: 50px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #666;
  padding: 15px 10px;
  align-items: center;
  margin-top: 5px;
  color: #fff;
}
.form__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.form__input::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.form__input:focus {
  border-bottom: 3px solid #666;
}

.form__label {
  color: #fff;
  font-weight: 400;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}

.form__textarea {
  width: 100%;
  min-height: 150px;
  padding: 15px 20px;
  border: 2px solid #666;
  resize: vertical;
  margin-top: 5px;
  background-color: #222;
  color: #fff;
}
.form__textarea::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.form__textarea::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.form__textarea:focus {
  border: 3px solid #fff;
}

.form__button {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 15px 0;
  background-color: #555;
  outline: none;
  border: none;
  cursor: pointer;
  width: 100%;
  transition: all 0.2s ease 0s;
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -ms-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
}
.form__button:hover {
  background-color: rgba(114, 114, 114, 0.9);
}

.footer {
  margin-top: -6px;
}

@media (max-width: 991px) {
  .contacts__main {
    max-width: 47%;
  }
}
@media (max-width: 767px) {
  .contacts {
    margin-top: 100px;
  }
  .contacts__subtitle {
    font-size: 24px;
  }
  .contacts__content {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;
    align-items: center;
  }
  .contacts__main {
    text-align: left;
    min-width: 100%;
    padding-left: 15px;
  }
  .contacts__content-title {
    font-size: 20px;
  }
  .contacts__tel {
    font-size: 16px;
  }
  .contacts__email {
    font-size: 16px;
  }
  .contacts__address {
    font-size: 16px;
  }
  .message {
    margin-top: 50px;
  }
}
@media (max-width: 576px) {
  .contacts {
    margin-top: 100px;
  }
  .contacts__title {
    font-size: 36px;
  }
  .contacts__subtitle {
    font-size: 20px;
  }
}/*# sourceMappingURL=contacts.css.map */