body._lock {
    overflow: hidden;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    background: #333;
    width: 100%;
    transition: all .3s ease 0s;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -ms-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
}
.header.header__blur{
  backdrop-filter: blur(19px);
  background-color: rgba(51, 51, 51, 0.8);
}
.header__top{
  padding: 5px 0px;
  background-color: #222;
  margin-top: 0px;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
}
.header__top.header__top-hidden{
  margin-top: -34px;
}
.header__top-flex{
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 15px;
  align-items: center;
}

.header__top-item{
  display: inline-flex;
  color: #fff;
  gap: 10px;
  text-decoration: none;
}
.header__top-tels{
  display: flex;
  gap: 50px;
}
.header__top-tel{
  &::before{
    content: '';
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url(../img/icons/telephone.svg) 0 0/contain  no-repeat;
    margin-top: 2px;
  }
}
.header__top-email{
  &::before{
    content: '';
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url(../img/icons/email.svg) 0 0/contain  no-repeat;
    margin-top: 2px;
  }
}
.header__nav {
    display: flex;
    justify-content: space-between;
    padding: 30px 15px;
    width: 100%;
}
.header__list_wrapper{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header__list {
    display: flex;
    align-items: center;
    gap: 50px;
    
}

.header__logo {
    color: #fff;
    font-family: Lato;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    & span {
        color: #DA9036;
    }
    &:hover{
      text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
    }
}

.header__link {
  position: relative;
    color: #FFF;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    &::after{
      display: block;
      position: absolute;
      left: 0;
      width: 0;
      height: 2px;
      background-color: #DA9036;
      content: '';
      transition: width 0.2s ease 0s;
      -webkit-transition: width 0.2s ease 0s;
      -moz-transition: width 0.2s ease 0s;
      -ms-transition: width 0.2s ease 0s;
      -o-transition: width 0.2s ease 0s;
    }
    &:hover {
      color: #DA9036;
    }
    &:hover::after{
      width: 100%;
    }
}

.header__logo_burger {
    display: none;
    color: #fff;
    font-family: Lato;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;

    & span {
        color: #DA9036;
        
    }

}

.burger__icon {
    display: none;
}

@media (max-width:767px) {
    .burger__icon {
        z-index: 21;
        display: block;
        position: relative;
        top: 0;
        right: 0;
        width: 30px;
        height: 20px;
        cursor: pointer;
      }
      .burger__icon span, .burger__icon::before, .burger__icon::after {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -ms-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        background-color: #fff;
      }
      .burger__icon::before, .burger__icon::after {
        content: "";
      }
      .burger__icon::before {
        top: 0;
      }
      .burger__icon::after {
        bottom: 0;
      }
      .burger__icon span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
        -webkit-transform: scale(1) translate(0px, -50%);
        -moz-transform: scale(1) translate(0px, -50%);
        -ms-transform: scale(1) translate(0px, -50%);
        -o-transform: scale(1) translate(0px, -50%);
      }
      .header__nav{
        align-items: center;
      }
      .header__list_wrapper {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        background: rgba(33, 33, 33, 0.95);
        text-align: center;
        padding: 100px 30px;
        transition: left 0.3s ease 0s;
        -webkit-transition: left 0.3s ease 0s;
        -moz-transition: left 0.3s ease 0s;
        -ms-transition: left 0.3s ease 0s;
        -o-transition: left 0.3s ease 0s;
        flex-direction: column;
        gap: 60px;
        overflow: auto;
        z-index: 20;
      }
      .header__list{
        width: 100%;
        height: 100%;
        flex-direction: column;
        gap: 50px;
      }
      .header__link{
        font-size: 24px;
        font-weight: 600;
        text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
      }
      .header__list_wrapper._active {
        left: 0;
      }
      .header__logo{
        display: none;
      }
      .header__logo_burger {
        font-size: 36px;
      }
      .burger__icon._active span {
        transform: scale(0) translate(0px, -50%);
        -webkit-transform: scale(0) translate(0px, -50%);
        -moz-transform: scale(0) translate(0px, -50%);
        -ms-transform: scale(0) translate(0px, -50%);
        -o-transform: scale(0) translate(0px, -50%);
      }
      .burger__icon._active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
        -webkit-transform: rotate(45deg) translate(0px, 50%);
        -moz-transform: rotate(45deg) translate(0px, 50%);
        -ms-transform: rotate(45deg) translate(0px, 50%);
        -o-transform: rotate(45deg) translate(0px, 50%);
      }
      .burger__icon._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
        -webkit-transform: rotate(-45deg) translate(0px, -50%);
        -moz-transform: rotate(-45deg) translate(0px, -50%);
        -ms-transform: rotate(-45deg) translate(0px, -50%);
        -o-transform: rotate(-45deg) translate(0px, -50%);
      }
      .header__logo_burger {
        display: inline;
      }
      .header__top-tels{
        gap: 30px;
      }
}
@media (max-width: 576px) {
  .header__nav{
    padding: 20px 25px;
  }
  .header__top{
    font-size: 12px;
  }
  .header__top-tels{
    flex-direction: column;
    gap: 5px;
  }
  .header__top-tel{
    &::before{
      width: 15px;
      height: 15px;
      margin-top: 0px;
    }
  }
  .header__top-email{
    &::before{
      width: 15px;
      height: 15px;
      margin-top: 1px;
    }
  }
  .header__top.header__top-hidden{
    margin-top: -51px;
  }
}