body._lock {
  overflow: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  background: #333;
  width: 100%;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  padding: 30px 50px;
  width: 100%;
}

.header__list_wrapper {
  width: 100%;
}

.header__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header__logo {
  color: #fff;
  font-family: Lato;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}
.header__logo span {
  color: #DA9036;
}
.header__logo:hover {
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
}

.header__link {
  position: relative;
  color: #FFF;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  transition: all 0.2s ease 0s;
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -ms-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  padding: 5px;
}
.header__link::after {
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #DA9036;
  content: "";
  transition: width 0.2s ease 0s;
  -webkit-transition: width 0.2s ease 0s;
  -moz-transition: width 0.2s ease 0s;
  -ms-transition: width 0.2s ease 0s;
  -o-transition: width 0.2s ease 0s;
}
.header__link:hover {
  color: #DA9036;
}
.header__link:hover::after {
  width: 100%;
}

.header__logo_burger {
  display: none;
  color: #fff;
  font-family: Lato;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}
.header__logo_burger span {
  color: #DA9036;
}

.burger__icon {
  display: none;
}

@media (max-width: 767px) {
  .burger__icon {
    z-index: 21;
    display: block;
    position: relative;
    top: 0;
    right: 0;
    width: 30px;
    height: 20px;
    cursor: pointer;
  }
  .burger__icon span, .burger__icon::before, .burger__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    background-color: #fff;
  }
  .burger__icon::before, .burger__icon::after {
    content: "";
  }
  .burger__icon::before {
    top: 0;
  }
  .burger__icon::after {
    bottom: 0;
  }
  .burger__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
    -webkit-transform: scale(1) translate(0px, -50%);
    -moz-transform: scale(1) translate(0px, -50%);
    -ms-transform: scale(1) translate(0px, -50%);
    -o-transform: scale(1) translate(0px, -50%);
  }
  .header__nav {
    align-items: center;
  }
  .header__list_wrapper {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(33, 33, 33, 0.95);
    padding: 100px 30px;
    transition: left 0.3s ease 0s;
    -webkit-transition: left 0.3s ease 0s;
    -moz-transition: left 0.3s ease 0s;
    -ms-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    flex-direction: column;
    gap: 60px;
    overflow: auto;
    z-index: 20;
  }
  .header__list {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
  }
  .header__link {
    font-size: 24px;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
  }
  .header__list_wrapper._active {
    left: 0;
  }
  .header__logo_burger {
    font-size: 36px;
  }
  .burger__icon._active span {
    transform: scale(0) translate(0px, -50%);
    -webkit-transform: scale(0) translate(0px, -50%);
    -moz-transform: scale(0) translate(0px, -50%);
    -ms-transform: scale(0) translate(0px, -50%);
    -o-transform: scale(0) translate(0px, -50%);
  }
  .burger__icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
    -webkit-transform: rotate(45deg) translate(0px, 50%);
    -moz-transform: rotate(45deg) translate(0px, 50%);
    -ms-transform: rotate(45deg) translate(0px, 50%);
    -o-transform: rotate(45deg) translate(0px, 50%);
  }
  .burger__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
    -moz-transform: rotate(-45deg) translate(0px, -50%);
    -ms-transform: rotate(-45deg) translate(0px, -50%);
    -o-transform: rotate(-45deg) translate(0px, -50%);
  }
  .header__logo_burger {
    display: inline;
  }
}
@media (max-width: 576px) {
  .header__nav {
    padding: 20px 25px;
  }
}/*# sourceMappingURL=header.css.map */