@import "base.css";
@import "header.css";
@import "footer.css";
.main {
  position: relative;
}

.intro__wrapper {
  padding: 350px 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url(../img/intro-bg.jpg) 30%/cover no-repeat;
}

.intro {
  max-width: 800px;
  position: relative;
  z-index: 10;
  padding: 46px 84px;
  border-bottom: 3px solid #fff;
  border-top: 3px solid #fff;
}

.intro__title {
  color: #FFF;
  text-align: center;
  font-size: 54px;
  font-weight: 600;
  line-height: normal;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
}
.intro__title span {
  color: #DA9036;
}

.intro__text {
  margin-top: 35px;
  color: #FFF;
  text-align: center;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.intro__buttons {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
}

.intro__button {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 15px 55px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  text-align: center;
}

.intro__button-about {
  background-color: #DA9036;
  text-decoration: none;
}
.intro__button-about:hover {
  background-color: #a3600d;
}

.intro__button-form {
  background-color: #fff;
  color: #000;
}
.intro__button-form:hover {
  background-color: #333;
  color: #fff;
}

.services {
  padding: 100px 0;
  background-color: #222;
}

.services__title {
  color: #000;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.services__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.services__img {
  max-width: 45%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.services__content {
  max-width: 45%;
  padding: 50px 0;
}

.services__content-title {
  color: #FFF;
  font-size: 45px;
  font-weight: 700;
}

.services__content-subtitle {
  color: #DA9036;
  font-size: 20px;
  margin-top: 10px;
  font-weight: 500;
}

.services__content-text {
  color: #999;
  font-size: 16px;
  margin-top: 20px;
  font-weight: 400;
}

.services__button {
  display: inline-block;
  text-decoration: none;
  color: #FFF;
  margin-top: 50px;
  padding: 20px 40px;
  border: 2px #FFF solid;
  font-size: 20px;
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
}
.services__button:hover {
  background-color: #fff;
  color: #000;
}

.advantages {
  margin-top: 100px;
}

.advantages__title {
  color: #000;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.advantages__cards {
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 15px;
}

.advantages__card {
  display: flex;
  width: 32%;
  flex-direction: column;
  gap: 10px;
  background: #fafafa;
  padding: 30px 40px;
  color: #000;
  text-align: left;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.advantages__card-icon {
  display: inline-block;
  width: 50px;
  height: 50px;
}

.advantages__card-title {
  color: #000;
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

.advantages__card-text {
  max-width: 100%;
  color: #7e7e7e;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

.advantages__card-button {
  color: #FFF;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
}
.advantages__card-button:hover {
  text-decoration: underline;
}

.works {
  margin-top: 100px;
}

.works__title {
  color: #000;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.works__fullimg-box {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  z-index: 30;
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
}
.works__fullimg-box img {
  max-width: 80%;
  max-height: 80%;
}

.closeImage {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 5%;
  right: 5%;
  cursor: pointer;
  background-color: #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  padding: 5px;
}

.works__gallery {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
}
.works__gallery img {
  width: 22%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: all 1s ease 0s;
  -webkit-transition: all 1s ease 0s;
  -moz-transition: all 1s ease 0s;
  -ms-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
}
.works__gallery img:hover {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}

#works__btns {
  display: none;
}

.works__btn {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  z-index: 31;
  border: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 25%;
  -webkit-border-radius: 25%;
  -moz-border-radius: 25%;
  -ms-border-radius: 25%;
  -o-border-radius: 25%;
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
}

.works__btn-next {
  right: 30px;
}

.works__btn-prev {
  left: 30px;
}

.message {
  margin-top: 100px;
}

.message__title {
  color: #000;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.message__form {
  max-width: 600px;
  margin: 0 auto;
  padding: 50px 100px;
  background: #FFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  margin-top: 80px;
}

.form__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.form__input {
  height: 50px;
  width: 400px;
  border: 3px solid #333;
  padding: 15px 20px;
  align-items: center;
}
.form__input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.form__input::placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.form__input:focus {
  background-color: rgba(51, 51, 51, 0.05);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.form__textarea {
  width: 400px;
  min-height: 150px;
  padding: 15px 20px;
  border: 3px solid #333;
  resize: vertical;
}
.form__textarea::-moz-placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.form__textarea::placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.form__textarea:focus {
  background-color: rgba(51, 51, 51, 0.05);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.form__button {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 15px 55px;
  background-color: #333;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease 0s;
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -ms-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
}
.form__button:hover {
  background-color: rgba(51, 51, 51, 0.9);
}

@media (max-width: 991px) {
  .intro__wrapper {
    padding: 280px 30px;
  }
  .intro {
    padding: 30px 55px;
  }
  .services__img {
    max-width: 47%;
    height: 500px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .services__content {
    max-width: 47%;
    padding: 50px 0;
  }
  .services__content-subtitle {
    font-size: 18px;
  }
  .services__content-text {
    font-size: 15px;
  }
  .services__button {
    font-size: 18px;
  }
  .advantages__card {
    width: 31%;
  }
  .works__btn-next {
    right: 20px;
  }
  .works__btn-prev {
    left: 20px;
  }
}
@media (max-width: 767px) {
  .services {
    padding: 50px 0 100px 0;
    background-color: #222;
  }
  .services__container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }
  .services__img {
    max-width: 100%;
    height: 500px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .services__content {
    max-width: 100%;
    padding: 50px 0;
  }
  .services__content-subtitle {
    font-size: 18px;
  }
  .services__content-text {
    font-size: 15px;
  }
  .services__button {
    font-size: 18px;
  }
  .advantages__card {
    width: 45%;
  }
  .works__gallery img {
    width: 45%;
  }
  .works__btn {
    height: 30px;
    width: 30px;
  }
}
@media (max-width: 576px) {
  .intro__wrapper {
    padding: 280px 15px;
  }
  .intro {
    padding: 25px 10px;
  }
  .intro__title {
    font-size: 42px;
  }
  .intro__text {
    font-size: 14px;
  }
  .intro__buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
  }
  .intro__button {
    font-size: 14px;
    font-weight: 600;
    padding: 12px 30px;
  }
  .advantages__card {
    width: 75%;
  }
  .works__btn-next {
    right: 5px;
  }
  .works__btn-prev {
    left: 5px;
  }
  .works__gallery {
    gap: 10px;
  }
  .works__gallery img {
    max-width: 45%;
    height: 200px;
  }
  .works__fullimg-box img {
    max-width: 75%;
  }
  .form__input {
    height: 50px;
    width: 250px;
    border: 3px solid #333;
    padding: 15px 20px;
    align-items: center;
  }
  .form__textarea {
    width: 250px;
    min-height: 100px;
  }
}/*# sourceMappingURL=main.css.map */